* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

header {
    height: 120px;
    width: 100%;
    background-color: #95E1F9;

    border-bottom: 30px solid #66c5e4;
}

header .container {
    padding: 20px;
}

header h1 {
    height: 120px;
    width: 100px;
    float: left;
}

#search {
    height: 40px;
    width: 200px;
    float: right;
    border-radius: 20px;
    border: 3px solid #66c5e4;
    padding-left: 15px;
    box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.4);
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.content {
    width: 100%;
    height: 100vh;
    float: left;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #c7c7c7;
    float: left;
}

footer ul {
    list-style: none;
}

footer ul li {
    width: 25%;
    float: left;
    padding: 20px;
}

.left-sec, .right-sec {
    width: 18%;
    background-color: #f1f1f1;
    height: 100vh;
    float: left;
}

.middle-sec {
    width: 64%;
    background-color: #ffffff;
    height: 100%;
    float: left;
}

ul {
    list-style: none;
}

nav li {
    padding: 15px;
    border-bottom: 2px solid #ffffff;
}

a {
    text-decoration: none;
    color: #000000;
}

.top-sec {
    width: 100%;
    padding: 20px;
}

.bottom-sec {
    width: 100%;
    padding: 20px;
}

table {
    width: 100%;
    text-align: left;
    padding-top: 20px;
}

table thead tr {
    background-color: #66c5e4;
}

table thead tr th {
    padding: 10px;
}

table tbody tr {
    background-color: #95E1F9;
}

table tbody tr td {
    padding: 5px 10px;
}

table tbody tr td:last-child {
    text-align: center;
}

table input {
    padding: 2px 4px;
}

.text-wrap {
    width: 60%;
    float: left;
    padding-right: 15px;
}

.text-wrap p {
    padding-top: 15px;
    text-align: justify;
    }

.image-wrap {
    width: 40%;
    float: left;
    text-align: center;
}



.right-sec ul {
    text-align: center;
}

.right-sec li {
    padding-bottom: 10px;
}

h3 {
    text-emphasis: none;
    text-align: center;
    padding: 10px 10px;
}